*{
  box-sizing: border-box;
  font-family: Indie Flower;
  margin: 0;
}
//section with links
section{
  //background: url("../img/background-horz.png");
  background-color: #4f71b0;
	background-size: cover;
  color: #995253;
  .main{
    margin: 0 auto;
    width: 730px;
    padding: 10px;
    nav{
      margin: 0 auto;
      li{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font: 25px Raleway;
        margin: 0px 10px;
        padding: 10px 10px;
        position: relative;
        z-index: 0;
        cursor: pointer;
        // pseudoelements which have 0 opacity
        &:before, &:after{
          position: absolute;
          left: 0px;
          width: 100%;
          height: 2px;
          background: black;
          content: "";
          opacity: 0;
          transition: all 0.3s;
        }
        //positioning of pseudoelement before
        &:before{
          top: 0px;
          transform: translateY(10px);
        }
        //positioning of pseudoelement after
        &:after{
          bottom: 0px;
          transform: translateY(-10px);
        }
        //on hover pseudoelements become opacity 1
        &:hover:before, &:hover:after{
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}
//about me section
header{
  background: url("../img/background-plaid.png");
  background-color: #6495ED;
  height: 3000px;
  color: #995253;
  .main_information{
    width: 790px;
    margin: 0 auto;
    .about_me{
      display: inline-block;
      border: dotted;
      background: black;
      width: 620px;
      //opacity: .5;
      h1{
        text-align: center;
        font-size: 55px;
      }
      p{
        text-align: center;
        font-size: 25px;
        color: #1aa890;
      }
    }
    .picture{
      border: solid;
      border-radius: 50%;
      display: inline-block;
      height: 150px;
      width: 150px;
      overflow: hidden;
      float: right;
      transition:All 1s ease;
      transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
      &:hover{
        transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
      }
      img{
        width: 150px;
        height: 150px;
      }
    }
  }
}
